
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quando&display=swap');

.footer{
    width: 100%;
    background-color: #000;
    color: #fff;

}

.footer-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.contato-creditos{
    font-family: serif;
    font-size: 15px;
    padding: 10px 0;
}
.contato-creditos p{
    margin-top: 9px;
}
.contato-creditos p a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.icones-footer{
    display: flex;
    gap: 25px;
}

.links1, .links2, .links3{
    height: 52px;
    width: 52px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.7s;
    transition: 0.7s;
    background-color: #fff;
    border-radius: 10px;
    
}

.links1 a, .links2 a, .links3 a{
    height: 52px;
    width: 52px;
   
}
.links:hover{
   
    transform: rotate(-360deg);
}

.links1 {
    background-image: url(../icon/icons8-github-64-B.png);
}

.links2{
    background-image: url(../icon/icons8-linkedin-2-64\ \(1\).png);
}


.links3{
    background-image: url(../icon/icons8-whatsapp-64.png);
} 
.transporter {
    transition: ease-in-out 0.3s;
}

.transporter:hover {
    opacity: 0;

}