#habilidades{
    background-color: #303030;
    width: 100%;
 
}
.habilidades-pd{
    padding-top: 93px;
}



.skills-descricao{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 50px;
    padding-bottom: 70px;
}

.containier-skills{
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    gap: 50px;
    max-width: 55%;

}
.habilidade-h2{
    text-align: center;
}

.skill-box{
    height: 106px;
    width: 106px;
    background-color: #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}


.skill-box:hover{
    background-color: white;
    transform: scale(1.05);
}

.container-descricao{
    color: #fff;
    font-family: 'Quando',serif;
    font-size: 20px;
    max-width: 40%;
    display: flex;
    align-items: center;
}

.skill-box .icon-habilidades{
    transition: ease-in-out 0.3s;
}

.skill-box:hover .icon-habilidades{
    opacity: 0;
}

.skill1{
    background-image: url(../icon/html.svg);
}
.skill2{
    background-image: url(../icon/css.svg);
}

.skill3{
    background-image: url(../icon/js.svg);
}

.skill4{
    background-image: url(../icon/react.svg);
}

.skill5{
    background-image: url(../icon/php.svg);
}

.skil6{
    background-image: url(../icon/mysql.svg);
}

.skil7{
    background-image: url(../icon/wordpres.svg);
}

.skil8{
    background-image: url(../icon/github.svg);
}

.skil9{
   
    background-image: url(../icon/git.svg);
}
