/*Tablete tela  maxima de 1200px*/
@media screen and (max-width:1200px){
    body{
        background-color: blue;
    }
    /*INICIO*/
    #inicio{
    background: #6ceb05;
    height: auto;
    width: 100%;
    }

    .ajustador{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
    }
    .desenho{
        padding: 100px 0;
       
        margin-left: -20px;
        width: 400px;
    }
    
    .apresentacao{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .linkdin{
        width: 470px;
        margin-top: 15px;
    }
    .esquerda{
        margin-left: 15px;
    }
    .direita{
        margin-right: 15px;
    }
    .logo img{
        margin-left:15px ;
    }
   /*INICIO*/

   /*SOBRE MIM*/
   .ajustador-2{
    display: flex;
    justify-content: center;
    text-align: center;
    
   }

   .ajustador-2 p{
    font-size: 20px;
    
}
.titulo-h2{
    font-size: 35px;
}
.sobre-mim p{
    text-indent: 0;
    
}

/*SOBRE MIM*/

/*Projeto*/
.projetos{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#projetos{
    display: flex;
    justify-content: center;
}

.projetos-items{
    flex-direction: column;
}
.pro{
   margin: 10px 0;
}


/*Projeto*/

/*HABILIDADES*/
.container-descricao{
    height: 260px;
    
}

#habilidades{
    display: flex;
    justify-content: center;
}

.skills-descricao{
    display: flex;
    flex-direction: column-reverse;
   width: 535px;
    margin: 0 auto;
    gap: 50px;
    padding-bottom: 70px;
    align-items: center;
}

.skills p{
    text-align: center;
}

/*HABILIDADES*/

/*FOOTER*/
.contato-creditos{
    text-align: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
/*FOOTER*/
}
/*Fim Tablete*/
/*Smartphone com tela maxima de 950 px*/
@media screen and (max-width:750px) {
    body{
        background-color: rgb(255, 0, 191);
    }
    /*INICIO*/
    #inicio{
    background: #ebd405;
    height: auto;
    width: 100%;
    }
  /*MENU*/
    .esquerda, .direita {
        margin: 0;
    }

    .logo {
        margin-top: -50px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }

   
    .barra{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-centro{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centralizador{
        margin: 0;
    }
    .barra-conteiner {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    .barra-conteiner .logo{
        width: 100%
    }

    .direita ul {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .direita ul a {
        font-size: 25px;
    }

    /* configurando menu mobile */
    .barra {
        display: block;
        position: fixed;
        top: -100vh;
        transition: ease 0.3s;
    }
    
    .close-menu-label::after {
        content:'≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: #3d3d3d;
        color: white;
        font-size: 3rem;
        line-height:3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        right: 20%;
    }
    /* ✕ */
    .close-menu:checked~.barra {
        top: 0;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '✕';
    }

    .barra .barra-conteiner ul li a{
        font-size: 25px;
    }

    .barra {
        background: rgba(0, 0, 0, 0.527);
    }
    /*MENU*/
    /*INICIO*/
    .desenho {
        padding: 25px 0;
    }
    .altura-ajuste{
        display: flex;
        justify-content: center;
    }
    .organizador {
        max-width: 300px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-areas:  
        "desenho"
        "descricao";
        line-height: 35px;
    }
    #inicio {
        display: flex;
        justify-content: center;
    }
    
    .desenho {
        display: flex;
        justify-content: center;
    }

    .descricao {
        font-size: 25px;
        padding-top: 15px;
    }

    .meuNome {
        padding: 6px;
        font-size: 35px;
    }
    
    /*INCIO*/

    /*SOBRE MIM*/
    .ajustador-2{
        max-width: 350px;
        padding: 70px 30px;
    }
    /*SOBRE MIM*/
    
    /*Projeto*/
    .projetos{
        max-width: 300px;
    }
    /*Projeto*/

    /*HABILIDADES*/
    .container-skills{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 500px;
    }
    .container-descricao{max-width: 300px;}
    /*HABILIDADES*/

    /*FOOTER*/
/*FOOTER*/
}


/*Fim Smartphone*/
/*Tablete tela  maxima de 1200px*/

/*Fim Tablete*/


